<html> 
<head> 
<script type = "text/javascript" src = "vue.js"></script>
<script type = "text/javascript" src = "index.js"></script>
<link rel="stylesheet" type="text/css" href="main.css">
</head> 
<body>

<div id="upcomingMatches" class="component-accordion">
        <p>Upcoming</p>
    <template v-for="item in items">
        <div class="accordion-item"> 
            <div class="accordion-heading"> 
                <h4> {{ item.homeNick }} vs {{ item.awayNick}} </h4> 
            </div>
            <div class="accordion-content"> 
                <p> {{item.homeTeam}} versus {{item.awayTeam}} <br/>
                @ {{ dateMe(item.timestamp) }} <br/>
                  {{ item.tournament }} </p>
            </div>
        </div>
    </template>
</div>

<div id="liveMatches" class="component-accordion">
      <p>Live</p>
    <template v-for="item in items">
        <div class="accordion-item">
            <div class="accordion-heading">
                <h4> {{ item.homeNick }} vs {{ item.awayNick}} </h4>
            </div>
            <div class="accordion-content">
                <p> {{ item.homeTeam}} verus {{ item.awayTeam }}</p>
            </div>
        </div>
    </template>
</div>  

<div id="completedMatches" class="component-accordion">
    <p>Completed</p>
    <template v-for="item in items">
        <div class="accordion-item">
            <div class="accordion-heading">
                <h4> {{ item.homeNick }} vs {{ item.awayNick}} </h4>
            </div>
            <div class="accordion-content">
                <p> {{ item.homeTeam}} verus {{ item.awayTeam }}</p>
            </div>
        </div>
    </template>
</div>
</body>

</html>
