<html> 
<head> 
    <script type = "text/javascript" src = "vue.js"></script>
<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
</head>
<body>
<input type="text" v-model="searchKey">
<ul id="test">
    <li v-for="user in users | filterBy searchKey | paginate">{{ user.name }}</li>
</ul>

<ul>
    <li v-for="pageNumber in totalPages" v-if="Math.abs(pageNumber - currentPage) < 3 || pageNumber == totalPages - 1 || pageNumber == 0">
    <a href="#" @click="setPage(pageNumber)"  :class="{current: currentPage === pageNumber, last: (pageNumber == totalPages - 1 && Math.abs(pageNumber - currentPage) > 3), first:(pageNumber == 0 && Math.abs(pageNumber - currentPage) > 3)}">{{ pageNumber+1 }}</a>
    </li>
</ul>
</body>
</html>